.login-body {
    width: 100%;
    background: #F6F7FB;
    border-radius: 4px;
}

#login-form {
    width: 660px;
    padding: 30px;
    margin: 0 auto;
}

.title-basket {
    color: #000;
    font-size: 19px;
    margin: 1em 0;
    font-weight: 600;
}

.line-login-input {
    margin-bottom: 25px;
}

.name-login-input {
    font-size: 13px;
    color: #5a6c77;
    padding-bottom: 2px;
}

.login-input {
    outline: none;
    display: block;
    width: 100%;
    font-size: 18px;
    height: 38px;
    margin: 0;
    padding: 0 4px;
    border: 1px solid #CCD5DB;
    border-radius: 2px;
    background: #f8fafc;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-btn {
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-family: "MuseoSansCyrl";
    font-size: 10px;
    text-transform: uppercase;
    background: #FF7793;
    border: 1px solid #FF7793;
    color: #FFFFFF;
    box-shadow: none;
    transition-property: border, box-shadow;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    width: 170px;
    line-height: 48px;
    height: 48px;
    font-size: 14px;
    font-weight: 900;
}

.login-btn:hover {
    background: #FF003D;
    border: 1px solid #FF003D;
    transition-property: border, box-shadow;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}